#authForm {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--lighter-color);
  border-radius: 0.5rem;
}

.authForm-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.authForm-field > label {
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
}

.authForm-field > input {
  width: 100%;
  padding: 0.3rem 0.5rem;
  font-size: var(--default-font);
}

.authForm-submit {
  margin: 0 auto;
}

.authForm-submit > input {
  padding: 0.3rem 0.5rem;
  background-color: var(--theme-color2);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: var(--default-font);
  font-weight: bold;
}

.authForm-submit > input:hover {
  cursor: pointer;
  opacity: 50%;
}